p {
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    border: red 25px solid;
  }
  p {
    width: 200px;
    height: 100px;
    box-sizing: content-box;
    border: red 25px solid;
  }
  p {
    width: 200px;
    height: 100px;
    border: red 25px solid;
  }
  P {color:red; 
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-decoration:underline;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
   }
   p{
    border-width:2px;
    border-color:blue;
    border-style:solid;
   }
   P {color:red; 
    font-size:20px;
    font-family:Courier;
    border:2px;
    border-color:blue;
    border-style:solid;
    
    width:100px; 
    height:100px;
   }